<div class="swiper-container">
    <div class="swiper-wrapper">
        {{ range .Site.Data.slide }}
        <div class="swiper-slide relative">
            <img src="{{ .image }}" alt="{{ .alt }}" class="w-full h-full object-cover">
            <div class="absolute                
                {{ with .top }}top-{{ . }}{{ end }}
                {{ with .bottom }}bottom-{{ . }}{{ end }}
                {{ with .left }}left-{{ . }}{{ end }}
                {{ with .right }}right-{{ . }}{{ end }}">
                <h1 class="text-4xl {{ or .color "text-white" }}">{{ .title }}</h1>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>